@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
.messageSection{
    height: 33rem;
    border: 1px solid black;
    padding: 1rem;
}
.Msg input, .sendMsg{
    width: 80%;
    margin-top: 2rem;
}
.messagePart{
    display: grid;
    grid-template-columns: 90% 10%;
}
.right , .left{
    width: 100%;
}
.right p{
    float: right;
    background-color: rgb(23, 45, 79);
    padding: .5rem 1rem;
    color: white;
    width:60%;
    font-family: 'Nunito', sans-serif;
}
.left p{
    float: left;
    padding: .5rem 1rem;
    background-color: rgb(28, 96, 110);
    color: white;
    width: 60%;
    font-family: 'Libre Franklin', sans-serif;
}