@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap");
.messageSection {
  height: 33rem;
  padding: 1rem;
  overflow-y: scroll;
  border: 1px solid black;
}
.alumniSec h1 {
  color: #159db5;
}
.alumniSec h1 img {
  height: 3rem;
  width: 3rem;
}
.Msg input,
.sendMsg button {
  width: 80%;
  margin-top: 1.5rem;
  height: 2.5rem;
}
.Msg input {
  margin-left: 3rem;
}
.sendMsg button {
  margin-left: -5rem;
}
.messagePart {
  display: grid;
  grid-template-columns: 90% 10%;
}
.right {
  float: right;
  width: 60%;
}
.left {
  float: left;
  width: 60%;
}
.right p {
  display: inline-block;
  float: right;
  background-color: rgb(34, 59, 98);
  padding: 0.5rem 1rem;
  color: white;
  font-family: "Nunito", sans-serif;
  border-radius: 10px;
}
.left p {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: rgb(28, 96, 110);
  color: white;
  font-family: "Libre Franklin", sans-serif;
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 20px;
  border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
