.top_navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #042331;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.125);
  display: flex;
  align-items: center;
  z-index: 2;
}
.top_navbar .logo {
  width: 250px;
  font-size: 25px;
  font-weight: 700;
  padding: 0 25px;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-right: 1px solid #f5f5f5;
}
.logInButton {
  background-color: rgb(255, 183, 0);
}
.logIn {
  margin-left: auto;
  margin-right: 1rem;
  display: grid;
  grid-template-columns: auto auto;
}
.logIn h1{
  color : white;
  font-size: 1.2rem;
  margin-right: 2rem;
  margin-top: .5rem;
}