@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.alumniSec{
    position: relative;
    left: 18%;
    margin-top: 2rem;
    width: 80%;
    z-index: 1;
}
.alumniSec h1{
    text-align: center;
}
.alumniSec p{
    color: rgb(98, 19, 19);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.alumniCard{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 2rem;
}
.alumniDetails{
    background-color: rgb(31, 54, 83);
    width: 20rem;
    padding: 1rem;
    
}
.alumniKey p{
    color: rgb(211, 184, 29);
    font-family: 'Lato', sans-serif;
}
.alumniValue p{
    color: white;
}
.alumniDetails h4{
    color: white;
    font-family: 'Lato', sans-serif; 
    padding-bottom: 1rem;
    border-bottom: 1px solid white;
}
.detailKeyValue{
    display: grid;
    grid-template-columns: 50% 50%;
}
.alumniKey button{
    font-family: cursive;
    width: 200%;
    cursor: pointer;
    font-size: 1.1rem;
}
.createUser{
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    background-color:  rgb(31, 54, 83);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 10px  rgb(59, 76, 85);
    margin-top: 7rem;
}
.createUser button{
    width: 5rem;
    margin: 0 auto;
}
.createUser input{
    border-radius: 5px;
}