@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Space+Grotesk&display=swap");
.contactdetails {
  position: relative;
  left: 20rem;
  overflow-y: scroll;
}
.contactheading {
  position: relative;
  top: 1rem;
  font-family: "Space Grotesk", sans-serif;
}
.kietdetails {
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
  top: 3rem;
  background-color: #042331;
  margin-right: 22rem;
  height: 30rem;
}
.kietinfo {
  color: white;
  padding: 3rem 2rem;
  font-family: "Space Grotesk", sans-serif;
}
.kietinfo h1 {
  font-size: 2rem;
  padding-bottom: 1rem;
  font-family: "Dancing Script", cursive;
}
.kietinfo p {
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}
.kietimg {
  padding: 1rem 0rem;
  margin-right: -2rem;
}
.kietimg img {
  width: 35rem;
  height: 28rem;
}
.onlineenquiryform {
  position: relative;
  top: 5rem;
}
.submitform {
  color: #042331;
  font-family: "Space Grotesk", sans-serif;
}
.contactmap {
  position: relative;
  top: 10rem;
  width: 40rem;
  height: 30rem;
  z-index: -1;
}
.helpdesk {
  position: relative;
  top: 2rem;
  margin-right: 22rem;
  margin-top: 14rem;
}
.helpdeskhead,
.helpnumber {
  border: 1px solid black;
  text-align: center;
  padding: 1rem 0rem;
  font-family: "Space Grotesk", sans-serif;
}
.helpdeskhead {
  background-color: #042331;
  color: white;
  font-family: "Dancing Script", cursive;
}
.lastcon {
  position: relative;
  top: 6rem;
  display: flex;
  background-color: #042331;
  margin-right: 22rem;
}
.iconscon {
  margin: 4rem 0rem;
  margin-left: 3rem;
}
.iccon {
  padding: 0rem 0.8rem;
  color: white;
}
.kietcon {
  font-family: "Libre Baskerville", serif;
  text-decoration: underline;
  font-size: 2.5rem;
  box-shadow: none;
  margin-top: 2.5rem;
}
.thinking{
    position: absolute;
    left: 35rem;
    width: 30rem;
    height: 40rem;
    
}
.leaflet-container{
  width: 69rem;
  height: 500px;
}