.section {
  position: relative;
  left: 18%;
  top: 6rem;
  padding-bottom: 2rem;
  z-index: 1;
}
.recruiter {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
.as{
  padding: 15rem 1.2rem;
}
.bs{
  padding: 2rem 2rem;
  box-shadow: 2px 2px 10px black;
}
.a {
  padding: 15rem 2rem;
  text-align: center;
  font-size: 1rem;
}
.b {
  padding: 2rem 2rem;
  box-shadow: 2px 2px 10px black;
}
img {
  width: 50rem;
}
.head {
  text-align: center;
  padding: 2rem 0;
  position: relative;
  left: -5rem;
  font-family: "Libre Baskerville", serif;
}
.rechead{
  position: relative;
  left: -2rem;
}
.recordimg{
  position: relative;
  left: 15%;
  box-shadow: 2px 2px 10px black;
  width: 58.3%;
}
.record img {
  padding: 2rem;
}
.rechead {
  text-align: center;
  font-family: "Libre Baskerville", serif;
  padding: 2rem 0;
}
.slideshow {
  margin: 0 auto;
  padding-top: 50px;
  height: 500px;
  perspective: 1000px;
}
.content {
  margin: auto;
  width: 150px;
  perspective: 1000px;
  position: relative;
  padding-top: 80px;
  transform-style: preserve-3d;
}
.slider-content {
  width: 100%;
  position: absolute;
  float: right;
  animation: rotate 15s infinite linear;
  transform-style: preserve-3d;
}
.slider-content:hover {
  cursor: pointer;
  animation-play-state: paused;
}
.slider-content figure {
  width: 180px;
  height: 120px;
  border: 1px solid #555;
  overflow: hidden;
  position: absolute;
}
.slider-content img {
  image-rendering: auto;
  transition: all 300ms;
  width: 100%;
  height: 100%;
}
.slider-content img:hover {
  transform: scale(1.2);
  transition: all 300ms;
}
.shadow {
  position: absolute;
  box-shadow: 0px 0px 0px #000;
}
.slider-content figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
}

.slider-content figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(300px);
}
.slider-content figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(300px);
}
.slider-content figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(300px);
}
.slider-content figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(300px);
}
.slider-content figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(300px);
}
.slider-content figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(300px);
}
.slider-content figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(300px);
}
.slider-content figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(300px);
}
@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.major {
  position: relative;
  left: -15%;
  text-align: center;
  margin-left: 13rem;
  font-family: "Libre Baskerville", serif;
  margin-bottom: 7rem;
  font-size: 4rem;
  box-shadow: 2px 2px 10px black;
}
.slideshow {
  position: relative;
  left: -10%;
}
.teamcrpc {
  text-align: center;
  padding: 2rem;
  margin-bottom: 2rem;
}
.grid-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  margin: 20px 0;
}
.card-top img {
  display: block;
  width: 100%;
}
.container {
  width: 95%;
  margin: auto;
}
.card {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
}
.card-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}
.card-info h2 {
  font-size: 18px;
  margin: 10px 0 5px 0;
}
.date {
  margin-bottom: 10px;
}
span,
p {
  font-size: 15px;
  display: block;
}
.excerpt {
  color: #aeaeae;
}
.flex-row {
  align-items: center;
  justify-content: space-between;
}
.card-bottom {
  margin-top: 10px;
}
.button {
  padding: 0 4px;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  color: #4e4e4e;
  width: 100px;
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  border-radius: 5px;
  background: #f2f4f6;
}
.read-more {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
.btn-yellow {
  background: #ffb91d;
}
.btn-sky {
  background: #d2f9fe;
}
.btn-dpink {
  background: #e8d3fc;
}
.teamcrpc {
  position: relative;
  left: 7%;
  right: 20%;
}
.card_details {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
}
.card {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 20rem;
}
.details1 {
  display: grid;
}
.details1 h2 {
  font-size: 0.8rem;
  font-weight: bold;
}
.details1 span {
  font-size: 0.7rem;
}
.card-bottom {
  font-size: 0.71rem;
}
.card-top {
  width: 7rem;
}
.team {
  font-family: "Libre Baskerville", serif;
  position: relative;
  left: 35%;
  margin: 3rem 0rem;
  font-size: 3rem;
  text-decoration: underline;
}
.rechead,
.head,
.kiet1 {
  font-family: "Libre Baskerville", serif;
  text-decoration: underline;
  font-size: 3rem;
}
.last1 {
  padding-top: 1rem;
  display: flex;
  margin-bottom: 4%;
  background-color: #042331;
  padding-bottom: 2rem;
  margin-bottom: 6rem;
}
.icons1 {
  margin: 1.5rem 1rem;
  margin-left: 8rem;
}
.ic1 {
  padding: 0rem 0.51rem;
  color: white;
}
