.message{
    position: relative;
  left: 18%;
  top: 2rem;
  padding-bottom: 2rem;
  z-index: 1;
}
.message h2{
  text-align: center;
  position: relative;
  left:-10%;
}

.dataForm{
  margin-top: auto;
  margin-bottom: 0rem;
}
.msg{
  height: 35rem;
}
.bottomMsg{
  display: grid;
  grid-template-columns: 10% 60% 5% 25%;
  grid-column-gap: 1rem;
}